.zol_detail {

}
.zol_detail H1 {
	font-family: 'Century Gothic', sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #494949;
	text-transform: uppercase;
	line-height: 36px;
	text-align: center;
	margin: 0 0 30px 0;
}
.zol_detail .ttx {
	width: 100%;
	font-size: 15px;
	margin: 47px 0 0 0;
}
.zol_detail .ttx TR:nth-child(odd) {
	background: #f9f9f8;
}
.zol_detail .ttx TH,
.zol_detail .ttx TD {
	text-align: left;
	padding: 6px 10px 6px 10px;
}
.zol_detail .ttx TH {
	font-weight: bold;
}
.zol_detail .ttx TH:first-child {
	width: 68%;
}
.zol_detail .price {
	margin: 31px 0 0 10px;
	font-size: 30px;
}
.zol_detail .buttons {
	text-align: center;
}
.zol_detail .zol_button {
	margin: 0 5px;
}
.zol_detail .tip {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	cursor: help;
	line-height: 20px;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #333;
	background-color: #fecc00;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.zol_detail:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }