.bx_filter {
    width: 527px;
    margin: -3px auto 0 auto;
}

.bx_filter .bx_filter_color,
.bx_filter_design {
    width: 49%;
    height: 60px;
    margin-bottom: 23px;
    display: inline-block;
}

.bx_filter .bx_filter_size {
    width: 100%;
    text-align: center;
    height: 95px;
}

.bx_filter .bx_filter_size_title {
    margin-bottom: 23px;
    display: block;
    width: 100%;
}

.bx_filter .bx_filter_design {
    float: right;
    text-align: right;
}

.bx_filter .bx_filter_checkbox .checkbox_wrapper {
    display: inline-block;
}

.bx_filter .bx_filter_checkbox .checkbox_wrapper input {
    margin: 5px;
}

.bx_filter .bx_filter_checkbox .checkbox_wrapper span {
    font-size: 13px;
    position: relative;
    bottom: 1px;
    left: -5px;
}

.bx_filter select {
    width: 90px;
}

.bx_filter .ui-slider-handle {
    border-radius: 100px!important;
    border: 0!important;
    background: #c41f1f!important;
    cursor: pointer!important;
}

.bx_filter .ui-slider-handle:nth-child(2) {
    -webkit-box-shadow: 1px 0px 0px 1px rgba(0, 0, 0, 0.3)!important;
    -moz-box-shadow: 1px 0px 0px 1px rgba(0, 0, 0, 0.3)!important;
    box-shadow: 1px 0px 0px 1px rgba(0, 0, 0, 0.3)!important;
}

.bx_filter .ui-slider-handle:nth-child(3) {
    -webkit-box-shadow: -1px 0px 0px 1px rgba(0, 0, 0, 0.3)!important;
    -moz-box-shadow: -1px 0px 0px 1px rgba(0, 0, 0, 0.3)!important;
    box-shadow: -1px 0px 0px 1px rgba(0, 0, 0, 0.3)!important;
}

.bx_filter .ui-slider-range {
    background: #c41f1f!important;
}

.bx_filter .slider_options {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 40px;
}

.bx_filter .slider_button {
    text-align: center;
    height: 35px;
    margin-bottom: 50px;
}

.bx_filter .slider_button button {
    cursor: pointer;
    border: 0;
    background: #c41f1f;
    color: #fff;
    font-size: 15px;
    padding: 5px 10px;
}